<div *ngIf="loading" class="flex items-center justify-center w-screen mt-28">
  <mat-spinner></mat-spinner>
</div>

<main *ngIf="!loading">
  <h1 class="w-full text-center !text-3xl !font-bold !my-8 !tracking-wider">
    Welcome to the Fake Store!
  </h1>

  <h2 class="w-full text-center">Search for items!</h2>
  <section class="flex justify-center mx-8 gap-4">
    <mat-form-field>
      <mat-label>Product Title</mat-label>
      <input
        type="text"
        placeholder="Enter the product's name..."
        matInput
        [(ngModel)]="productName"
        (input)="filter()"
      />
      <button
        *ngIf="productName"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="productName = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (selectionChange)="filter()">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
      <button
        *ngIf="selectedCategory"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="selectedCategory = ''; filter()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </section>

  <section
    class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-10 mx-8 my-4"
  >
    <app-card *ngFor="let product of filteredProducts" [product]="product">
    </app-card>
  </section>
</main>
