<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<mat-toolbar color="primary" class="navbar">
  <span routerLink="">Fake Store</span>
  <button mat-icon-button routerLink="cart">
    <mat-icon
      [matBadge]="cartLength"
      matBadgeColor="accent"
      matBadgeSize="small"
      [matBadgeHidden]="cartLength == 0"
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>
<router-outlet> </router-outlet>
