<mat-card>
  <mat-card-header>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>${{ item.price }}</p>
    <h3>Total: ${{ item.price * item.amount }}</h3>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="decreaseItem(item.id)">
      <mat-icon>remove</mat-icon>
    </button>
    {{ item.amount }}
    <button mat-icon-button color="primary" (click)="increaseItem(item.id)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="removeItem(item.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
